.actions-btn{
    float: left;
    margin-top:2rem;
    .btn-size{
        width:8rem;
    }
    margin-left: 32%;
    margin-bottom: 14px;
}

.expertForm{
   .row:nth-child(1){
    padding: 10px 21px 0px 15px;
   } 
}